<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
{%  extends 'learning_log/base.html' %}

{% block page_header %}
    <h3>Topics</h3>
{% endblock page_header %}

{% block content %}
<ul>
    {% for topic in topics %}
        <li><h5>
            <a href="{% url 'main:topic' topic.id %}"> {{ topic }} </a>
        </h5></li>
    {% empty %}
        <h5><li>No Topic has been added</li></h5>
    {% endfor %}
</ul>
    <h5><a href="{% url 'main:new_topic' %}">Add new topic</a></h5>
{% endblock content %}
</body>
</html>